$fuentePrincipal : 'Montserrat', sans-serif;;

// Colores 
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46E;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;





//Media Querys
$telefono: 468px;
$tablet: 760px;
$desktop: 1200px;



//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;




//Separaciones

$separacion: 5rem;